<section id="about">
  <h1>About Me</h1>
  <div id="technical_expertise">
    <div>
      <%= image_tag("profile.jpg") %>
    </div>

    <div >
      <h3>Technical Expertise</h3>
      <p>Junior full-stack web developer with experience coding in multiple languages and frameworks. Adept at learning and implementing apt technologies to solve technical challenges. Seeking opportunities to employ skill-set within team environment. </p>
    </div>
  </div>

  <div id="language">
    <ul>
      <h5>Front End</h5>
      <li><%= link_to "HTML", "http://www.w3.org/TR/html/" %></li>
      <li><%= link_to "CSS", "http://www.w3.org/Style/CSS/Overview.en.html" %></li>
      <li><%= link_to "Sass", "http://sass-lang.com/" %></li>
      <li><%= link_to "JavaScript", "https://developer.mozilla.org/en-US/docs/Web/JavaScript" %></li>
      <li><%= link_to "JQuery", "https://jquery.com/" %></li>
      <li><%= link_to "Angular JS", "https://angularjs.org/" %></li>
      <li><%= link_to "Capybara", "http://jnicklas.github.io/capybara/" %></li>
    </ul>

    <ul>
      <h5>Back End</h5>
      <li><%= link_to "Ruby", "https://www.ruby-lang.org/en/" %></li>
      <li><%= link_to "Ruby on Rails", "http://rubyonrails.org/" %></li>
      <li><%= link_to "SQL/Active Record", "http://guides.rubyonrails.org/active_record_querying.html" %></li>
      <li><%= link_to "Rspec", "http://rspec.info/" %></li>
      <li><%= link_to "Jasmine", "http://jasmine.github.io/" %></li>
    </ul>
  </div>
</section>