<section id="about">
  <h1>About Me</h1>
  <div id="technical_expertise">
    <div>
      <%= image_tag("profile.jpg") %>
    </div>

    <div >
      <p>Following a successful career in online gambling, I decided it was time to explore new career paths that would allow me to use my analytical and strategic skills in more productive pursuits. Following forays into finance and start-up consulting, I came to appreciate the vital role technology plays in nearly every modern business. I resolved to develop the skillset to successfully contribute to this technological business environment.</p>
      <p>I attended Dev Bootcamp Chicago, an immersive coding course designed to train junior level web developers. This was a fantastic learning experience. Not only did I learn relevant technical skills, I received extensive training and practice in team dynamics, paired programing, feedback exchange and assimilation, and conflict resolution within the context of a development project. Since Dev Bootcamp, I have continued improving my technical skills through online course work, independent study, and the development of numerous side projects. </p>
      <p>I am excited to be joining the University of Illinois MBA program Fall 2016. I look forward to studying business at a university renowned for its technical programs, as it will allow further growth in my technical knowledge and its business applications.</p>
      <p>I am currently seeking a temporary position prior to the start of the MBA program with an organization that would afford opportunities to contribute and grow as a developer. I hope such a position will lay the foundation for a long-term relationship with a great organization.</p>
    </div>
  </div>

  <div>
      <%= image_tag("chicago.jpg", id: "img_chicago") %>
  </div>

  <div id="language">
    <h1>Technical Experience</h1>
    <ul>
      <li><%= link_to "Ruby on Rails", "http://rubyonrails.org/" %></li>
      <li><%= link_to "Active Record/SQL", "http://guides.rubyonrails.org/active_record_querying.html" %></li>
      <li><%= link_to "Rspec", "http://rspec.info/" %></li>
      <li><%= link_to "Capybara", "http://jnicklas.github.io/capybara/" %></li>
    </ul>

    <ul>
      <li><%= link_to "JavaScript", "https://developer.mozilla.org/en-US/docs/Web/JavaScript" %></li>
      <li><%= link_to "JQuery", "https://jquery.com/" %></li>
      <li><%= link_to "Angular JS", "https://angularjs.org/" %></li>
      <li><%= link_to "Jasmine", "http://jasmine.github.io/" %></li>
    </ul>

    <ul>
      <li><%= link_to "HTML", "http://www.w3.org/TR/html/" %></li>
      <li><%= link_to "CSS", "http://www.w3.org/Style/CSS/Overview.en.html" %></li>
      <li><%= link_to "Sass", "http://sass-lang.com/" %></li>
    </ul>
  </div>
</section>