<section id='contact'>
    <h1>Contact Me</h1>
    <p>The best way to reach me in regards to any current or future projects is via email.</p>
    <p><a href="mailto:brantdfaulkner@gmail.com">BrantDFaulkner@gmail.com</a></p>

    <ul>
      <li><%= link_to image_tag("icon/github.png"), "https://github.com/BrantDFaulkner" %></li>
      <li><%= link_to image_tag("icon/treehouse.png"), "https://teamtreehouse.com/brantdfaulkner" %></li>
      <li><%= link_to image_tag("icon/linkedin.png"), "https://www.linkedin.com/in/brantdfaulkner" %></li>
      <li><%= link_to image_tag("icon/facebook.png"), "https://www.facebook.com/BrantDFaulkner" %></li>
      <li><%= link_to image_tag("icon/twitter.png"), "https://twitter.com/BrantDFaulkner" %></li>
      <li><%= link_to image_tag("icon/youtube.png"), "https://www.youtube.com/channel/UCvzCQVxmA2jzbgOOVhCvAVQ" %></li>
    </ul>

  </section>