<section id="projects">
  <h1>Projects</h1>
  <div class="container_project">
    <h3><%= link_to "Clash Calc", "http://www.clashcalc.com" %></h3>
    <p>Clash Calc is a tool for the hit mobile game <%= link_to "Clash of Clans", "http://www.clashofclans.com"%>.</p>
    <p><%= link_to "Clash Calc", "http://www.clashcalc.com" %> makes managing your base upgrades entertaining with detailed progress tracking, strategic recommendations, and amusing statistics.</p>
    <p>Take a look around or watch the <%= link_to "video demo", "https://www.youtube.com/watch?v=7bappvmcc2w" %></p>
  </div>
  <div class="container_project">
    <h3><%= link_to "Re: Source", "http://re-source.herokuapp.com/" %></h3>
    <p><%= link_to "Re: Source", "http://re-source.herokuapp.com/" %> is a tool designed to enhance your code-learning journey. Consolidate all useful bits of information you find while exploring new concepts into an intuitive structure for immediate reflection and future reference.</p>
    <p>The project code is available on <%= link_to "Github", "https://github.com/werbeckes/re-source" %></p>
  </div>
  <div class="container_project" id="personal_site">
    <h3><%= link_to "Personal Website", "#personal_site" %></h3>
    <p>This site is a project too!</p>
    <p>The project code is available on <%= link_to "Github", "https://github.com/BrantDFaulkner/brantdfaulkner.io" %></p>
  </div>
</section>